:root {
  --sidebar-width: 16rem;
  --sidebar-width-collapsed: 5rem;
}


/* --- Structure générale --- */
.app-container {
  display: flex;
  height: 100vh;    /* Très important pour garder le sidebar fixe */
  width: 100%;
}

/* Sideb*/
app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  flex-shrink: 0;
  z-index: 10;
}

/* --- Contenu à droite du sidebar --- */
.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-left: 16rem;
  overflow-y: auto;
}

/* When collapsed */
.app-content.collapsed {
  margin-left: 5rem;
}

/* --- Zone principale (router) --- */
.app-main {
  flex: 1;
  background: #ffffff;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0.2rem 0.8rem rgba(172, 21, 21, 0.05);
  display: flex;
  flex-direction: column;
}