<div class="train-container">

  <h2>Liste des Trains</h2>

  @if (loading) {
    <div class="loading">
      Chargement...
    </div>
  } @else {

    <table class="train-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status PACIS</th>
          <th>Status CCTV</th>
          <th>Status Rear View</th>
        </tr>
      </thead>

      <tbody>
        @for (train of trains; track train.trainId) {
          <tr>
            <td>{{ train.trainId }}</td>
            <td>{{ train.pacisStatus }}</td>
            <td>{{ train.cctvStatus }}</td>
            <td>{{ train.rearViewStatus }}</td>
          </tr>
        }
      </tbody>
    </table>

  }

</div>